{% load static %}
<html>
    <head>
        <title>Django Blog</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div>
        <header>
            <div class="nav">
            <h1><a href="{% url 'home' %}">Django Blog</a></h1>
            <div class="nav">
                <a href="{% url 'post_new' %}">+ New Blog Post</a>
            </div>
        </header>
            {% if user.is_authenticated %}
                <p>Hi {{ user.username }}!</p>
                <p><a href="{% url 'logout' %}">Log out</a></p>
            {% else %}
                <p>You are not logged in.</p>
                <a href="{% url 'login' %}">Log In</a>
                <a href="{% url 'signup' %}">Sing Up</a>
            {% endif %}

            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>